body {
    background-color: #FFE797;
  }

.bg-custom {
    background-color: #84994F !important;
  }

.card {
    box-shadow: 2px 2px 5px black;
}

.bg-custom2 {
    background-color: #FCB53B !important;
  }


#login {
  width: 500px;
  margin-top: 120px;
  background-color: #FCB53B;
  box-shadow: 2px 2px 5px black;
}

#login input {
  box-shadow: 1px 2px 0px black;
}
